img

{
    border: 5px solid #73AD21;
}

#boole
{
  font-family: papyrus;
  font-size: 200%;
  color: red
}

#occupancy
{
font-family: papyrus;
  font-size: 200%;
  color: red
}




#title

{

font-family: papyrus;
font-size: 200%;
color: blue
}


#booole {

font-family: papyrus;
font-size: 160%;

}

